/* ---------VARIABLES-------------- */
:root{

    --azulSiso: #2E7BE7;
    --verdeAgua: #04B8A6;
    --azulClaro: #B4EAF5;
    --gris:#F0F0F0;
    --amarillo:#FFF238;
    --verde:#11B827;

    --verdeBrillante:#47EF9E;
    --grisOscuro:#697484;
    --grisAdmin:#E7E8EB;

    --fuentePrincipal:  'Montserrat', sans-serif;
    --fuenteSecundria:'Courier New', Courier, monospace;

    --anchovertical:300px;
    --paddingmenu:10px;
    --ancho-collapsed:50px;
}

/* FORMULARIO PARA NUEVO DOCUEMENTO */

.titulo-formulario{
    border-radius: 0px;
    
    padding:15px 0 0 5px;
    font-family: var(--fuentePrincipal);
    
}
.titul{
    border-radius:25px ;
    width:350px ;
    height:50px ;
    color: var(--gris);
}
.formulario{
    color: var(--azulSiso);
    font-family: var(--fuentePrincipal);
    border-radius: 25px;
    background: linear-gradient(225deg, #f0f0f0, #cacaca);
    box-shadow:  -25px 25px 50px #bebebe,
             25px -25px 50px #ffffff;
    width: 400px;
    height: 475px;   
}
.in-c{
    border-radius:20px ;
    border: none;
    padding:5px 40px 5px 40px;
}
.boton-enviar{
    padding: 5px 25px 5px 25px ;
    border-radius:25px;
    border: none;
}

.boton-enviar:hover{
    background: var(--verdeAgua);
    
}




/* --------------------------------------- */






/* FORMULARIO PARA NUEVO USUARIO */




/* --------------------------------------- */

/* FORMULARIO PARA NUEVO DEPARTAMENTO */

/* --------------------------------------- */