:root{
    --azulSiso: #2E7BE7;
    --verdeAgua: #04B8A6;
    --azulClaro: #B4EAF5;
    --gris:#F0F0F0;
    --verdeBrillante:#47EF9E;

    --fuentePrincipal:  'Montserrat', sans-serif;
    --fuenteSecundria:'Courier New', Courier, monospace;
}


*{
    margin: 0;
    padding: 0;
}

body{
    background:var(--gris) ;
}

.contenedor{
    width: 100%;
    max-width: 1920px;
    display: grid;


    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat( auto);
    

    grid-template-areas: "";
}

